@import "../../shared-styles.scss";

.stuff-card{
  flex: 0 0 33%;
  overflow: hidden;
  height: 200px;
  margin-bottom: .5vw;
  position: relative;
  cursor: pointer;
  @media (max-width: $mobile-breakpoint) {
    flex: 0 0 100%;
    margin-bottom: 5px;
  }
  &:hover{
    z-index: 2;
    box-shadow: 0 0 5px 2px $red;
  }
  img{
    width: 100%;
  }
  .stuff-card__footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $white;
    h2{
      font-family: $roboto-slab;
      margin: 0;
      padding: 15px 0;
      font-weight: normal;
      font-size: 16px;
      text-align: left;
      color: $blue;
      padding-left: 10px;
    }
  }
}