@import "../../shared-styles.scss";

.stuff-card{
  flex: 0 0 calc(33.333333% - 6.6666px);
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  transition: all 0.4s ease;
  .stuff-card__body{
    position: relative;
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 11;
      background: radial-gradient(ellipse at center,  rgba(0,0,0,0.80) 0%,rgba(0,0,0,0) 100%);
    }
    .name{
      @extend %roboto-slab;
      color: $white;
      font-size: 18px;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      text-align: center;
      transform: translate(-50%, -50%);
      z-index: 12;
      transition: all 0.4s ease;
      letter-spacing: .5px;
    }
    img{
      width: 100%;
      vertical-align: middle;
      filter: saturate(.2) blur(.5px);
      transition: all 0.2s ease;
      position: relative;
    }
  }
  &:nth-child(3n){
    margin-right: 0;
  }
  @media (max-width: $mobile-breakpoint) {
    flex: 0 0 100%;
    margin-bottom: 10px;
    &:nth-last-child(-n+3){
      margin-bottom: 10px;
    }
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  &:hover{
    z-index: 2;
    //box-shadow: 0 0 5px 2px $red;
    .stuff-card__body{
      .name{
        color: $light-green;
      }
      img{
        filter: saturate(0);
      }
    }
  }
  .stuff-card__footer{
    .actions{
      display: flex;
      justify-content: flex-end;
      text-align: center;
      transition: all 0.3s ease;
      a{
        flex: 1 0 calc(33.3333%);
        background: $green;
        padding: 10px 0;
        color: $white;
        box-sizing: border-box;
        transition: all 0.4s ease;
        &:hover{
          background: $light-green;
        }
      }
      .link{
        border-right: solid 1px #286b00;
      }
      .info{
        border-left: solid 1px #318002;
        border-right: solid 1px #286b00;
      }
      .repo{
        border-left: solid 1px #318002;
      }
    }
  }
}