.home__section-1{
  .container{
    display: flex;
    flex-direction: row;
  }
}
.home__section-2{
  height: 1800px;
  background: url('/images/home-background.jpg') no-repeat;
  background-position: center top;
  background-size: 100% auto;
}