@import "../../shared-styles.scss";

.stats{
  background: $white;
  margin-bottom: $vertical-spacing;
  padding: 70px 0;
  h1, h2{
    text-align: center;
    margin: 0;
  }
  h1{
    @extend %roboto-slab;
    font-size: 36px;
    font-weight: lighter;
  }
  h2{
    @extend %roboto;
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 50px;
  }
  .stats-coding{
    flex: 0 0 50%;
    background: url('/images/stats-bg-code__2.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px 0;
    border-right: solid 10px white;
    box-sizing: border-box;
    @media (max-width: $mobile-breakpoint) {
      flex: 0 0 100%;
    }
  }
  .stats-snowboarding{
    flex: 0 0 50%;
    background: url('/images/stats-bg-snow.jpg');
    background-size: cover;
    display: flex;
    align-items: flex-end;
    overflow: auto;
    position: relative;
    min-height: 470px;
    border-left: solid 10px white;
    box-sizing: border-box;
    @media (max-width: $mobile-breakpoint) {
      border-top: $vertical-spacing white solid;
      flex: 0 0 100%;
    }
    .header-stats{
      position: absolute;
      top: 0;
      width: 100%;
      padding: 10px 0;
      background: rgba(0,0,0,.6);
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}