@import "../../shared-styles.scss";

.site-banner{
	position: relative;
  max-height: 500px;
  overflow: hidden;
  min-height: 150px;
  img{
    vertical-align: middle;
    user-select: none;
  }
  .site-banner__image{
    width: 100%;
    @media (max-width: 400px) {
      width: auto;
      height: 200px;
    }
  }
  .site-banner__logo{
    height: 80%;
    max-height: 191px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    @media (max-width: $mobile-breakpoint) {
      max-height: 120px;
    }
  }
}