.sticky__title{
  width: 33%;
  background: #2c7700;
  position: absolute;
  z-index: 3;
  h2{
    font-size: 50px;
    color: #f9f4ec;
    margin: 0;
    padding: 20px 10px;
    &:after{
      content: "";
      display: block;
      background: #2c7700;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -100%;
      right: 100%;
    }
  }
}
.stuck .sticky__title{
  position: fixed;
  top: 0;
  width: inherit;
}