@import "../../shared-styles.scss";

.sticky__title{
  width: 33%;
  background: $green;
  position: absolute;
  z-index: 3;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  h2{
    font-size: 50px;
    color: $white;
    margin: 0;
    padding: 20px 10px;
    &:after{
      content: "";
      display: block;
      background: $green;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -100%;
      right: 100%;
    }
  }
}
.stuck .sticky__title{
  position: fixed;
  top: 0;
  width: inherit;
}