@import "../../shared-styles.scss";

.intro{
  flex: 33%;
  color: $white;
  padding-right: 50px;
  box-sizing: border-box;
  p{
    margin-top: 0;
    margin-bottom: 20px;
  }
  a{
    color: $red;
    font-family: $roboto-slab;
    font-size: 16px;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}