@import "../../shared-styles.scss";

.intro{
  flex: 33%;
  color: $white;
  padding-right: 50px;
  box-sizing: border-box;
  @media (max-width: $tablet-breakpoint) {
    padding-right: 0;
  }
  p{
    margin-top: 0;
    margin-bottom: 20px;
  }
  a{
    @extend %roboto-slab;
    border: solid 2px $red;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    color: $red;
    padding: 5px 10px;
    text-align: center;
    transition: all 0.1s ease;
    &:hover{
      background: $red;
      color: $white;
    }
  }
}