@import "../../shared-styles.scss";

.site-footer{
	height: 70px;
	line-height: 70px;
	text-align: center;
  color: #5A6475;
  font-size: 12px;
  @media (max-width: $mobile-breakpoint) {
    height: 50px;
    line-height: 50px;
  }
}