// app colors
$green: #2c7700;
$light-green: #72c60c;
$red: #e71625;
$white: #f9f4ec;
$blue: #060b13;

// app fonts
$roboto: "roboto", sans-serif;
$roboto-slab: "roboto-slab", serif;
$againts: "Againts", serif;

$vertical-spacing: 50px;
