.technology-list{
  flex: 67%;
  color: white;
  position: relative;
  .technology-list__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    &.stuck{
      position: fixed;
      top: 20px;
    }
  }
}
